{:paths ["src"
         "resources"]

 :deps
 {ring/ring-json                 {:mvn/version "0.5.1"}
  ring/ring-core                 {:mvn/version "1.9.3"}
  http-kit/http-kit              {:mvn/version "2.5.3"}
  buddy/buddy-auth               {:mvn/version "2.2.0"}
  org.clojure/core.async         {:mvn/version "1.3.610"}
  ch.qos.logback/logback-classic {:mvn/version "1.0.7"}
  org.clojure/data.json          {:mvn/version "2.0.2"}
  compojure/compojure            {:mvn/version "1.6.2"}
  aleph/aleph                    {:mvn/version "0.4.6"}
  medley/medley                  {:mvn/version "1.3.0"}
  hiccup/hiccup                  {:mvn/version "1.0.5"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {ring/ring-devel {:mvn/version "1.9.2"}}
   :main-opts   ["-m" "hotreload"]}}}
