;; shadow-cljs configuration
{ :dev-http
 {8020 "resources/public"}

 :deps true

 :builds
 {:ui
  {:target     :browser
   :output-dir "resources/public/js"
   :asset-path "/js"

   :modules
   {:main ; becomes public/js/main.js
    {:init-fn gomosdg.client.core/init}}}}}
